<div class="pt-2 flex flex-col w-60 border-r-2 border-[#292929] items-center h-screen bg-black fixed">
    <app-button [title]="'Home'" [icon]="'fa-solid fa-house text-white'" [style]="'w-56 text-white h-12 flex items-center pl-5 gap-6 bg-[#1D1D1D] rounded-lg'"></app-button>
    <app-button [title]="'Explore'" [icon]="'fa-regular fa-compass text-white'" [style]="'w-56 text-white h-12 flex items-center pl-5 gap-6 rounded-lg hover:bg-[#353535]'"></app-button>
    <app-button [title]="'Library'" [icon]="'fa-regular fa-file-audio text-white'" [style]="'w-56 text-white h-12 flex items-center pl-5 gap-6 rounded-lg hover:bg-[#353535]'"></app-button>
    <hr class="w-48 mt-8 mb-6 border-[#292929]">
    <app-button [style]="'w-48 h-10 rounded-full bg-[#292929] text-white text-sm font-medium'" [title]="'Sign in'"></app-button>
    <div class="w-48 mt-2">
        <p class="text-[#616161] text-xs">Sign in to create & share playlists, get personalized recommendations, and more.</p>
    </div>
</div>