<div class="text-white mt-6 w-60 h-60 overflow-hidden rounded mr-6">
    <div class="w-60 h-32">
        <img class="w-60 h-32 object-cover rounded" src="{{image}}" alt="image">
        <div class="relative bottom-28 left-48 rounded-full w-10 h-10 flex items-center justify-center hover:bg-[#ffffff60]">
            <i class="fa-solid fa-ellipsis-vertical text-lg"></i>
        </div>
        <div class="relative bottom-28 left-24 rounded-full w-10 h-10 flex items-center justify-center">
            <i class="fa-solid fa-play"></i>
        </div>
    </div>
    <div class="pt-2 pl-1">
        <p class="text-lg font-medium">{{songName}}</p>
        <p class="text-sm text-[#B3B3B3]">{{songDesc}}</p>
    </div>
</div>