.main{
    background-image: url(../assets/images/f9LWkwp1n7VqMkRjhj8YitB034LjcN2C-AGa3n6HzjA7knzQnzU412svXTkd39mRRcZMxCjr0PtDjzU4=w512-h287-l90-rj);
    background-repeat: no-repeat;
    background-position: 0px -220px;
    /* background-size: contain; */
    background-size: cover;
    box-shadow: inset 0rem -25rem 200px 100px;
}