.main{
    background-image: url(../assets/images/background1.jpeg);
    background-repeat: no-repeat;
    background-position: 0px -220px;
    background-size: contain;
    box-shadow: inset 0rem -25rem 200px 100px;
}